html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 10em;
    height: 10em;
    border-radius: 5em;
}

.logo img:hover {
    cursor: pointer;
    background-color: #c9c9c9;
    opacity: 0.8;
}