<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub authorization</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/authorization.css">
</head>
<body>
<div class="logo">
    <img src="/static/images/label.png" alt="GitHub logotype">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/authorization.js"></script>
</body>
</html>